<style>


footer {

   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:black;

}


</style>


<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="container1">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>GoMamam
          </h6>
          <p>
            
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Social Media
          </h6>
          <p>
            <a href="https://www.instagram.com/gomamam.bn/?hl=en" class="text-reset">Instagram</a>
          </p>
          <p>
            <a href="https://www.facebook.com/go.mamam.58" class="text-reset">Facebook</a>
          </p>
          <p>
            <a href="https://www.youtube.com/channel/UCRHEtna4WWlXinCjeO9rtkQ" class="text-reset">Youtube</a>
          </p>
        
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Downloads
          </h6>
          <p>
            <a>Available on App store and Google Play</a>
          </p>
          <p>
            <a href="https://apps.apple.com/us/app/gomamam/id1497417124" class="text-reset">Apple Store link</a>
          </p>
          <p>
            <a href="https://play.google.com/store/apps/details?id=com.gomamam.app" class="text-reset">Google Play link</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact Us
          </h6>
          <p><i class="fas fa-home me-3"></i>Office address: Unit 2, First Floor, Spg 636, Kg Beribi, Jalan Gadong, BE1118S</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            gomamam.bn@gmail.com 
          </p>
          <p><i class="fas fa-phone me-3"></i> +673 8199199</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center text-lg-start bg-dark text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright
    
    <!-- <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

