<%- include('partials/header') %>
<div class = "container" style="text-align: center;">

<h1>Contact us</h1>
<p><span style="font-size: 14px;">Phone number: +673 8199199 (Hotline)</span></p>

<span style="font-size: 14px;"> Email address: </span>
<span style="font-size: 14px;">gomamam.bn@gmail.com </span>

<span style="font-size: 14px;"> Office address: Unit 2, First Floor, Spg 636, Kg Beribi, Jalan Gadong, BE1118</span>
</div>

<div class="container">
  <div class="map-respon">
  <h1> My location</h1>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15901.407789281076!2d114.8874197!3d4.8805887!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8708e51fe8fb5736!2sGoMamam!5e0!3m2!1sen!2sbn!4v1623258719776!5m2!1sen!2sbn" width="80px" height="80px" style="border:2px;" allowfullscreen="" loading="lazy"></iframe>

  </div>

<br>

</div>
<div class="container contact-form">
            
  <form method="post">
      <h3>Drop Us a Message</h3>
     <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
              </div>
              <div class="form-group">
                  <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                  <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
              </div>
              <div class="form-group">
                  <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
              </div>
          </div>
      </div>
  </form>
</div>

<br>
<br>


<%- include('partials/footer') %>